<!DOCTYPE html>
<html>

<head>
    <title>Video Chat</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" /> -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="login">
        <div id="loginWrap" class="wraps">
            <h1>Login</h1>
            <form id="loginForm">
                <div>
                    <input type="email" id="email" name="email" placeholder="Email" required />
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Password" required />
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-primary btn-block btn-large" />
                    <a href="/users/register" class="btn btn-primary btn-block btn-large">Register</a>
                </div>
                <p id="loginMsg"></p>
            </form>
        </div>
    </div>
    <div class="topcorner" id="personName"></div>
    <div id="chatWrap" class="wraps">
        <div class="column2" style="margin-top: 5px;"> Online Users</div>
        <div id="personImage"></div>
        <br/> <br/>
        <div id="userList">
        </div>
    </div>
    </div>
    </div>
    </div>
    <div id="video-chat" align="center">
        <h3>Video Chat</h3>
        <video id="remoteScreen" autoplay style="height:60%;width:50%;margin:10px;">
				</video>
        <video id="localScreen" autoplay style="height:20%;width:22%;margin:10px;">
				</video>
        <br />
        <div class="column3">
            <p id="callStatus">Calling...Waiting for the remote user's response.</p>
            <br />
            <button id="cancelCall" class="answer red">HangUp</button>
        </div>
    </div>
    <div class="callRequest">
        <div style="margin: 16px;" class="column1">You have a call from <span id="caller"></span> . Do you want to accept?</div>
        </br>
        <button class="answer green">Accept</button>
        <button class="answer red">Reject</button>
    </div>
    <div id="cover"></div>
    <script type="text/javascript" src="jquerymain.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="socket.management.js"></script>
    <!-- </div> -->
</body>

</html>