<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" /> -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
</head>

<body>
    <div class="login">
        <h4 id='status'>
            <% if (typeof message != 'undefined') { %>
                <%= message %>
                    <% } %>
                        <% if (typeof errors != 'undefined') { %>
                            <% errors.forEach(error => { %>
                                <br/>
                                <%= error.message %>
                                    <% }) %>
                                        <% } %>
        </h4>
        <h1>Register</h1>
        <form action="/users/register" enctype='multipart/form-data' method="POST">
            <div>
                <input type="text" id="name" name="name" placeholder="Name" required />
            </div>
            <div>
                <input type="email" id="email" name="email" placeholder="Email" required />
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Password" required />
            </div>
            <div>
                <input type="password" id="password2" name="password2" placeholder="Confirm Password" required />
            </div>
            <div>
                <input type="file" id="profileImage" name="profileImage" required/>
            </div>
            <div>
                <input type="submit" value="Register" class="btn btn-primary btn-block btn-large" />
            </div>
            <a href="/" class="btn btn-primary btn-block btn-large">Login</a>
        </form>
    </div>
</body>

</html>