@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid: dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid: dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
} */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}


/* body {
    background: #171616;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#heading {
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
    font-size: 20px;
    color: #0CD1E8
}

p {
    padding-right: 20px;
    padding-top: 20px;
    float: right;
    font-size: 15px;
    color: #ffffff
}

#food-table {
    position: relative;
    background: #0D0E0E;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-red {
    position: relative;
    background: #F30808;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-green {
    position: relative;
    background: #2ECC71;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#food-table-grey {
    position: relative;
    background: #F1C40F;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
} */

#food-table {
    position: relative;
    background: #0D0E0E;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

#item-table {
    position: relative;
    border-radius: 16px;
    background: #000000;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#table2 form:after {
    margin: 0;
    content: '';
    display: flex;
    flex-wrap: wrap;
    clear: both;
    align-content: center;
}


/* input[type="text"] {
    width: 100%;
    padding: 10px;
    background: #181c22;
    border: 0;
    float: left;
    color: #ffffff;
    border-radius: 16px;
    font-size: 15px;
} */

.cancel-button {
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #F30808;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.accept-button {
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #2ECC71;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.container {
    height: 60px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pickup-button {
    padding: 8px;
    float: right;
    margin-right: 10px;
    border: 0px;
    background: #2ECC71;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF;
    align-items: center;
    align-content: center;
    text-align: center;
}

.column1 {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF;
    align-items: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
}

.column3 {
    float: right;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #171616;
}

li {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    background-color: #171616;
    letter-spacing: 1px;
}

body {
    font-family: Arial, Helvetica, Calibri, 'sans-serif';
}

h3 {
    background: #35B5E5;
    background: -moz-linear-gradient(#35B5E5, #219FBF);
    background: -webkit-linear-gradient(#35B5E5, #219FBF);
    background: -ms-linear-gradient(#35B5E5, #219FBF);
    background: -o-linear-gradient(#35B5E5, #219FBF);
    color: white;
    padding: 10px;
} */

li {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #FFF;
}

#cover {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
    display: none;
}

#chatWrap {
    display: none;
    width: 100%;
    height: 100%;
}

#chatWrap>div {
    /* float: left; */
    width: 100%;
    /* display: table; */
    /* border: #787878 solid 1px; */
    /* background: #dfdfdf; */
    height: 100%;
}

#chatScroll {
    height: 75%;
    overflow-y: scroll;
}

#chatScroll ul,
#userList {
    list-style: none;
}

#userList>li {
    background: #99CC00;
    color: #FCFCFC;
    margin-top: 3px;
}

video {
    float: left;
}

.callRequest,
#video-chat {
    z-index: 5;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: none;
    background: #171616;
    border-radius: 16px;
}

.answer {
    padding: 12px;
    margin: 3px;
    border-radius: 5px;
    color: white;
}

.green {
    padding: 8px;
    margin: 10px;
    border: 0px;
    background: #2ECC71;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}

.red {
    padding: 8px;
    margin: 10px;
    border: 0px;
    background: #F30808;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
}


/* input[type="submit"] {
    background: #F80000;
    border: none;
    color: #FBFBFB;
    border-radius: 3px;
    padding: 6px;
} */


/* button {
    background: #F80000;
    border: none;
    color: #FBFBFB;
    border-radius: 3px;
    padding: 6px;
} */


/* input[type="text"] {
    height: 20px;
    border-radius: 3px;
    border: #000000 solid 1px;
    width: 100%;
} */

*/ .wraps {
    /* margin-top: 10px; */
    padding-bottom: 10px;
    background: #171616;
    height: 100%;
    width: 100%;
    align-content: center;
}

body {
    background: #000;
}

.main-box.no-header {
    padding-top: 20px;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.table a.table-link.danger {
    color: #e74c3c;
}

.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

a {
    color: #3498db;
    outline: none!important;
}

.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}

.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}

.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}

.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}


/* #loginWrap h3,
#chatWrap h3 {
    margin-top: 100px;
} */